CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac-loco=y

# Desactivamos paquetes innecesarios para compilar más rápido
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_PACKAGE_kmod-mtd-rw=y

# Añadí acá tus cambios si querés incluir paquetes extras
# LuCI web interface
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-static=y
CONFIG_PACKAGE_luci-proto-dhcp=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-app-firewall=y
